@using EntityLayer.Concrete
@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "AdminCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryID)

        </th>
        <th>

            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryDescription)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryStatus)

        </th>
        <th>
            Güncelle
        </th>
        <th>Sil</th>
        <th>Başlıklar</th>
    </tr>
    @foreach (var category in ViewBag.categoryvalues)
    {

<tr>
    <th>@category.CategoryID</th>
    <td>@category.CategoryName</td>
    <td>@category.CategoryDescription</td>
    <td>@category.CategoryStatus</td>
    <td><a href="/AdminCategory/EditCategory/@category.CategoryID" class="btn btn-info">Güncelle</a></td>
    <td><a href="/AdminCategory/DeleteCategory/@category.CategoryID" class="btn btn-warning">Sil</a></td>
    <td><a href="#" class="btn btn-primary">Başlıklar</a></td>
</tr>

    }
</table>
<div class="text-center">
    <a href="/AdminCategory/AddCategory" class="btn btn-info">
        Yeni Kategori
    </a>
    <a href="/StatisticsCategory/Index" class="btn btn-warning">
        İstatistik
    </a>
</div>

