@using EntityLayer.Concrete
@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "AdminCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryID)

        </th>
        <th>

            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryDescription)

        </th>
        <th>
            @using (Html.BeginForm())
            {
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" name="CS" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Html.DisplayNameFor(model => model.CategoryStatus)

                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" name="CS">
                        <input type="submit" class="dropdown-item" name="btn" value="Aktif" />
                        <input type="submit" class="dropdown-item" name="btn" value="Pasif" />
                    </div>

                </div>
            }
        </th>
        <th>
            Güncelle
        </th>
        <th>Sil</th>
        <th>Başlıklar</th>
    </tr>
    @foreach (var category in ViewBag.categoryvalues)
    {

        <tr>
            @if (category.CategoryStatus == true)
            {

                <th>@category.CategoryID</th>
                <td>@category.CategoryName</td>
                <td>@category.CategoryDescription</td>
                <td>@category.CategoryStatus</td>
                <td><a href="/AdminCategory/EditCategory/@category.CategoryID" class="btn btn-info">Güncelle</a></td>
                <td><a href="/AdminCategory/DeleteCategory/@category.CategoryID" class="btn btn-warning">Sil</a></td>
                <td><a href="#" class="btn btn-primary">Başlıklar</a></td>


            }
            else if (category.CategoryStatus == false)
            {
                <th class="table-dark">@category.CategoryID</th>
                <td class="table-dark">@category.CategoryName</td>
                <td class="table-dark">@category.CategoryDescription</td>
                <td class="table-dark">@category.CategoryStatus</td>
                <td class="table-dark"><a href="/AdminCategory/EditCategory/@category.CategoryID" class=" btn btn-info">Güncelle</a></td>
                <td class="table-dark"><a href="/AdminCategory/DeleteCategory/@category.CategoryID" class=" btn btn-warning">Sil</a></td>
                <td class="table-dark"><a href="#" class="btn btn-primary ">Başlıklar</a></td>
            }


        </tr>

    }
</table>
<div class="text-center">
    <a href="/AdminCategory/AddCategory" class="btn btn-info">
        Yeni Kategori
    </a>
    <a href="/StatisticsCategory/Index" class="btn btn-warning">
        İstatistik
    </a>
</div>

