@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "EditWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center">Yazar Güncelleme</h1>
<br />
@using (Html.BeginForm("EditWriter", "Writer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.DisplayNameFor(Model => Model.WriterID)
        @Html.HiddenFor(Model => Model.WriterID)
        @*@Html.TextBoxFor(Model => Model.WriterID, new { @class = "form-control", @disabled = "disabled" })*@
        <br /><br />
        @Html.DisplayNameFor(Model => Model.WriterTitle)
        @Html.TextBoxFor(Model => Model.WriterTitle, new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.WriterTitle)

        <br /><br />
        @Html.DisplayNameFor(Model => Model.WriterName)
        @Html.TextBoxFor(Model => Model.WriterName, new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.WriterName)
        <br /><br />
        @Html.DisplayNameFor(Model => Model.WriterSurName)
        @Html.TextBoxFor(x => x.WriterSurName, new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.WriterSurName)
        <br /><br />
        @Html.DisplayNameFor(Model => Model.WriterMail)
        @Html.TextBoxFor(Model => Model.WriterMail, new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.WriterMail)
        <br /><br />
        @Html.DisplayNameFor(Model => Model.WriterPassword)
        @Html.TextBoxFor(Model => Model.WriterPassword, new { @class = "form-control" })

        @Html.ValidationMessageFor(Model => Model.WriterPassword)

        <br /><br />
        @Html.DisplayNameFor(Model => Model.WriterImage)
        
        <br />

        <p>

            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value=@Model.WriterImage>
        </p>
        @Html.TextBoxFor(Model => Model.WriterImage, new { type = "file", @id = "WriterImage" })

        @Html.ValidationMessageFor(Model => Model.WriterImage)
        <br /><br />
        @Html.DisplayNameFor(Model => Model.WriterAbout)
        @Html.TextBoxFor(Model => Model.WriterAbout, new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.WriterAbout)
        <br /><br />
        <div class="text-center">
            <button class="btn btn-info" name="btn" value="ekle">Güncelle</button>

        </div>
    </div>
}


